*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100.5%;
    padding: 10px 5px 0px 10px;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
}

.header-link{
    font-size: 13px;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.header-link:hover{
    text-decoration: underline;
}

#app{
    opacity: 0.5;
    vertical-align: middle;
}

#app:hover{
    opacity: 1;
}

#header-button{
    color: white;
    background-color: #4285F4;
    font-weight: bold;
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 3px;
}

#header-button:hover{
    text-decoration: none;
    cursor: pointer;
}

#google-logo{
    display: block;
    margin: 230px auto 50px;
}

.search-bar{
    text-align: center;
    padding-top: 5px 20px;
}

#search{
    width: 500px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 0 50px;
}

#search:hover{
    box-shadow: 2px 2px 5px lightgray;
}

#search:focus{
    outline: none;
}

#mag{
    position: relative;

}